/* RESET SEDERHANA */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/* AKHIR GOOGLE FONT */

/* NAVBAR */
header {
  display: flex;
  background-color: #3bacb6;
  padding: 1.5rem;
}

nav {
  display: flex;
  padding-left: 2rem;
  align-items: center;
}

nav .Todo-List {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;
}

nav a {
  text-decoration: none;
  color: #fffbe9;
  transition: 0.3s all;
}

nav a:hover {
  color: #787a91;
}

nav ul {
  display: flex;
  padding-left: 3rem;
  align-items: center;
}

ul li {
  list-style: none;
}

li a {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}
/* AKHIR NAVBAR */
